  
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-sefri;
}
img{
 width: 16rem;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #0000;
  display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
body::before,body::after
{
    content: "";
    height: 90vh;
    width: 33%;
    position: absolute;
    z-index: -10;
}
body::before
{
    top: 0;
    left: -5rem;
    background: linear-gradient(to right, #0d6efd,rgb(6, 82, 221));
    border-radius: 0 0 16rem 16rem;
}
body::after
{
    bottom: 0;
    right: -5rem;
    background: #8080800d;
    border-radius: 16rem 16rem 0 0;
}
.maindiv
{
    display: flex;
    align-items: center;
}
.mobile
{
    width: 17rem;
    min-width: 17rem;
    overflow: hidden;
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 10px 15px 40px #00000030;
    background: white;
  text-align:center;
}
button{
  padding:1em;
  font-weight:700;
  border-radius: .4em;
  color: #fff;
  background: rgb(6, 82, 221);
  border: none;
}

.download-a {
    background: #fff !important;
    color: black;
    border: 2px solid rgb(6, 82, 221);
}

.text
{
    width: 27rem;
    margin-left: 8rem;
}
.text h1
{
    color: #0d6efd ;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact{
    width: 150px;
    position: fixed;
    right: 10px;
    bottom:10px;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  color: #0d6efd;
}
.text p
{
    color: darkgrey;
    line-height: 1.7;
    font-size: 0.95rem;
}
@media only screen and (max-width: 850px) {
    .text {
        width: auto;
        margin: 0 1rem 0 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .maindiv
    {
        flex-direction: column;
        padding: 5rem 0 7rem;
    }
    body::before{
        width: 16rem;
        height: 30rem;
    }
    body::after
    {
        display: none;
    }
    .mobile
    {
        margin-bottom: 3rem;
    }
    .text
    {
        margin: 0 2rem;
        text-align: center;
    }
}



